
.call_button_shadow {
    border-radius: 34.52px;
    background: #FB1F23;
    box-shadow: 4px 4px 0px 0px #003177;
}

.banner_title {
    text-shadow: 3px 3px 0px #0050A5;
    -webkit-text-stroke: 2px #0050A5;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner_title_large {
    text-shadow: 4px 4px 0px #0050A5;
    -webkit-text-stroke: 2px #0050A5;
}

.banner_title_third {
    text-shadow: 3.6px 3.6px 0px #0050A5;
    -webkit-text-stroke: 2px #0050A5; 
}

.button_shadow {
    width: 286px;
    height: 66px;
    padding: 10px 60px;
    justify-content: center;
    align-items: center;
    gap: 5.389px;
    flex-shrink: 0;
    border-radius: 40.553px;
    background: #FB1F23;
    box-shadow: 7px 7px 0px 0px #0050A5;
}